/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#chat, #usernameModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#usernameModal {
    display: block; /* Set to block initially */
}

#usernameModal input, #chat input[type="text"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ced4da;
    border-radius: 5px;
    width: 100%;
}

#usernameModal button, #chat button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#usernameModal button:hover, #chat button:hover {
    background-color: #218838;
}

#messages {
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
    height: 200px;
    overflow-y: scroll;
    margin-bottom: 10px;
    background-color: #e9ecef;
}

#messages div {
    margin: 5px 0;
}

#messages div:nth-child(odd) {
    background-color: #f1f3f5;
    padding: 5px;
    border-radius: 5px;
}
